*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.profileCard {
border: 1px solid #000;
border-radius: 8px;
width: 300px;

}

.profilePartCard {
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}

.profileImg {
border-radius: 50%;
background-color: rgb(121, 121, 121);
width: 150px;
height: 150px;
}

.profileCardName {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.profileCardList {
   display: flex;
   flex-direction: row;
}

.profileCardItem {
    padding: 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
 background-color: rgb(175, 175, 175);
    width: 34%;
  display: flex;
  flex-direction: column;
}
.profileCardItem:first-child{
    border-radius: 0 0 0 8px;
}
.profileCardItem:last-child{
    border-right: none;
    border-radius: 0 0 8px 0;
}
.profileCardSpan{
    font-weight: 700;

}